{% extends 'partials/base.html.twig' %}

{% block content %}
    

    {% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "F d, Y" %}

    {% if page.header.hero_image or page.media['hero.jpg'] %}
        {% if page.header.hero_image %}
            {% set hero_url = url(page.media[page.header.hero_image].url) %}
        {% else %}
            {% set hero_url = page.media['hero.jpg'].url %}
            {# TODO: try getting alt text from an image meta file #}
        {% endif %}
        <span class="image fit"><img src="{{ hero_url }}" alt="{{ page.header.hero_alt }}" /></span> {# NB: wrapping link 'a' element from source template replaced with span - just can't see why link should be here #}
    {% endif %}

<section id="content">
    {{ page.content }}

<div class="box alt">
	<div class="row gtr-50 gtr-uniform"> <!-- NB: the images not in markdown and require Twig here because MD Extra processor inserts a para around the span, which breaks CSS -->
        
        
            
            


{% for item in page.header.gallery.items %}
<div class="col-4 col-6-xsmall">
<span class="image fit">{{ page.media[item.image].lightbox().html() }}</span>
    </div>        

{% endfor %}             
        
	</div>
</div>
</section>
{% endblock content %}